@{
    ViewBag.Title = "James Dibble - Error Occurred";
}

@this.Html.Partial("PageTitle", "An error has occurred")

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="alert alert-danger">
                <strong>Ooops...</strong>&nbsp;Sorry, it looks like I messed something up.
            </div>
        </div>
    </div>
</div>
@section Script
{
    <script>
        $(function() {
            $('#loading').hide();
        });
    </script>
}
