<footer>
    <div class="wrap">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
                    &copy; James Dibble @DateTime.Now.Year | All Rights Reserved
                </div>
            </div>
        </div>
    </div>
</footer>