<div class="col-lg-3 cold-md-4 col-sm-6 col-xs-12  square" id="loading">
    <div class="text-wrapper">
        <div class="title">
            <p class="lead">Loading</p>
            <p>
                <img alt="Loading" src="@this.Url.Content("~/asset/images/loading.gif")"/>
            </p>
        </div>
    </div>
</div>