@{
    ViewBag.Title = "James Dibble - Page not found";
}

@this.Html.Partial("PageTitle", "Page not found")

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="alert alert-danger">
                <strong>Ooops...</strong>&nbsp;Sorry, this is not the page you were looking for...
            </div>
        </div>
    </div>
</div>
