<div class="sidebar">
    <button type="button" class="btn btn-default btn-sm">
        <span class="fa fa-bars"></span>
    </button>
    <br /><br />
    <ul class="nav nav-pills nav-stacked">
        <li><a href="@this.Url.Action("index", "home")"><span class="fa fa-home pull-left"></span><span class="text pull-right">&nbsp;Home</span></a></li>
        <li><a href="@this.Url.Action("contact", "home")"><span class="fa fa-envelope pull-left"></span><span class="text pull-right">&nbsp;Contact</span></a></li>
        <li><a href="@this.Url.Action("portfolioarchive", "posts")"><span class="fa fa-briefcase pull-left"></span><span class="text pull-right">&nbsp;Portfolio</span></a></li>
        <li><a href="@this.Url.Action("blogarchive", "posts")"><span class="fa fa-pencil pull-left"></span><span class="text pull-right">&nbsp;Blog</span></a></li>
    </ul>
</div>