<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=SQL5008.Smarterasp.net;Initial Catalog=DB_9AF52A_personal;User Id=DB_9AF52A_personal_admin;Password=3l3m3ntal!;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>