html {
  overflow-y: scroll;
  overflow-x: hidden;
}
html,
body {
  height: 100%;
  background: #f7f7f7;
  position: relative;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -100px;
  padding: 0 0 100px;
}
footer {
  background-color: transparent;
  padding-top: 16px;
  padding-bottom: 10px;
  height: 100px;
}
footer .scroll-arrow {
  height: 32px;
  width: 32px;
  border-radius: 1000px;
  background: #158cba;
  color: #fafafa;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  box-shadow: 0 0 10px 3px #bbb;
  overflow: hidden;
  margin-top: -5px;
  margin-left: 10px;
}
footer .scroll-arrow i {
  position: relative;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
footer .scroll-arrow i:first-child {
  top: -3px;
}
footer .scroll-arrow i:last-child {
  top: 38px;
}
footer .scroll-arrow:hover i:first-child {
  top: -38px;
}
footer .scroll-arrow:hover i:last-child {
  top: -38px;
}
.nav-stacked li a {
  border-radius: 0;
}
@media (min-width: 992px) {
  footer {
    height: 50px;
  }
  #wrap {
    margin: 0 auto -50px;
    padding: 0 0 50px;
  }
}
.navbar .navbar-header {
  float: left;
  padding: 0;
  text-align: center;
  width: 100%;
}
.navbar .navbar-header .navbar-brand {
  float: none;
  text-transform: uppercase;
  position: relative;
  top: 9px;
  font-size: 22px;
  line-height: 26px;
}
#navbar-collapse {
  display: none !important;
}
#sidebar {
  position: fixed;
  top: 0;
  left: -165px;
  height: 100%;
  width: 165px;
  z-index: 1030;
  background: #fafafa;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#sidebar.out {
  box-shadow: 1px 1px 25px #666;
  left: 0;
}
#sidebar .btn {
  position: relative;
  margin-left: 165px;
  border-radius: 0;
  display: block !important;
  height: 47px;
  background: #158cba;
  margin-top: -1px;
  border: none;
  color: #fafafa;
  box-shadow: -3px -3px 6px 0 #666666;
  z-index: 999;
}
#sidebar .nav {
  margin-top: -47px;
}
#sidebar .nav li {
  height: 47px;
}
#sidebar .nav li a {
  height: 47px;
  padding: 14px 15px;
}
#wrap {
  padding-top: 120px;
  margin-left: 0;
  margin-right: 0;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#wrap > .container-fluid {
  margin-top: -73px;
}
#wrap.out {
  margin-left: 82.5px;
  margin-right: -82.5px;
}
.at4m-menu {
  top: 50px;
}
div[data-spy="affix-maybe"] {
  right: 0;
  background: #fafafa;
  box-shadow: 1px 1px 25px #bbbbbb;
}
div[data-spy="affix-maybe"].affix-top {
  position: relative;
}
div[data-spy="affix-maybe"].affix-bottom {
  position: relative;
}
div[data-spy="affix-maybe"].dont-affix {
  position: relative !important;
}
.btn.btn-default {
  background-image: linear-gradient(#fafafa, #ffffff 6%);
  border: 1px solid #f7f7f7;
}
.summary {
  padding: 20px;
  background: #ffffff;
  box-shadow: 1px 0 5px -2px #666666;
  margin-top: 15px;
}
.summary .summary-content-wrap {
  display: table;
  height: 195px;
  width: 100%;
}
.summary .summary-content-wrap .summary-content {
  display: table-cell;
  vertical-align: middle;
}
.elipse {
  display: table;
  height: 195px;
  width: 195px;
  border-radius: 1000px;
  background: #ffffff;
}
.elipse p {
  color: #007fff !important;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-size: 40px;
  font-family: Courier, monospace;
}
.elipse .img {
  display: table-cell;
  margin-bottom: 10px;
  height: 100%;
  width: 100%;
  border-radius: 1000px;
  background-repeat: no-repeat;
  background-position: center;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  -webkit-background-size: cover !important;
  background-size: cover !important;
}
.elipse .date {
  display: table-cell;
  vertical-align: middle;
  margin-bottom: 10px;
  background: #158cba;
  border-radius: 1000px;
  height: 100%;
  width: 100%;
}
.elipse .date h2 {
  color: #fafafa;
  text-align: center;
}
.elipse .date h3 {
  color: #fafafa !important;
  text-align: center;
}
.elipse .date h4 {
  color: #fafafa !important;
  text-align: center;
}
.jumbotron {
  position: relative;
  height: 100vh;
  display: table;
  width: 100%;
  overflow: hidden;
  margin-bottom: 0;
}
.jumbotron .container-fluid {
  display: table-cell;
  vertical-align: middle;
  padding: 90px;
}
.jumbotron .scroll-arrow {
  height: 40px;
  width: 40px;
  border-radius: 1000px;
  background: #158cba;
  color: #fafafa;
  text-align: center;
  font-size: 30px;
  position: relative;
  bottom: 0;
  cursor: pointer;
  box-shadow: 0 0 10px 3px #bbb;
  overflow: hidden;
}
.jumbotron .scroll-arrow i {
  position: relative;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.jumbotron .scroll-arrow i:first-child {
  top: -30px;
}
.jumbotron .scroll-arrow i:last-child {
  top: -42px;
}
.jumbotron .scroll-arrow:hover i:first-child {
  top: 0;
}
.jumbotron .scroll-arrow:hover i:last-child {
  top: 30px;
}
.jumbotron h1 {
  margin-top: -40px;
  text-align: center;
  color: #fafafa;
  font-size: 70px;
  z-index: 999;
}
.jumbotron h2 {
  font-size: 63px;
  color: #158cba;
}
.jumbotron.primary {
  background: #158cba;
  color: #fafafa;
}
.jumbotron.primary h2 {
  color: #fafafa;
}
.jumbotron.primary .scroll-arrow {
  background: #fafafa;
  color: #158cba;
  box-shadow: 0 0 3px 1px #bbb;
}
.jumbotron.primary a {
  color: #fafafa;
}
.jumbotron.primary a.btn {
  color: #158cba;
}
.jumbotron.primary a:hover {
  color: #0b475e;
}
.jumbotron.primary a:hover i {
  color: #0b475e;
}
.jumbotron.primary a i {
  color: #fafafa;
}
.jumbotron .elipse {
  box-shadow: inset 0 0 3px 1px #bbb;
  position: relative;
  margin: 20px auto;
}
article p {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
@media (max-width: 1200px) {
  .summary {
    text-align: center !important;
    box-shadow: none;
  }
  .summary .text-right {
    text-align: center !important;
  }
  .elipse {
    margin-bottom: 20px;
    margin: auto auto 20px;
  }
  .jumbotron .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 480px) {
  .jumbotron {
    display: block;
    height: auto;
  }
  .jumbotron h1 {
    font-size: 50px;
  }
  .jumbotron h2 {
    font-size: 40px;
  }
  .jumbotron .container-fluid {
    display: block;
  }
  .jumbotron .scroll-arrow {
    position: relative;
    margin: auto auto;
    bottom: auto;
    right: auto;
    top: 40px;
    float: none !important;
  }
}
/*# sourceMappingURL=global.css.map */