@import "variables.less";
@import "navbar.less";

html {
    overflow-y: scroll;
}

html,
body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -@footer-height;
    padding: 0 0 @footer-height;
}

footer {
    background-color: @footer-bg;
    padding-top: 10px;
    padding-bottom: 10px;
    height: @footer-height;
}

@media (min-width: @screen-desktop) {
    footer {
        height: @footer-expand-height;
    }

    #wrap {
        margin: 0 auto -@footer-expand-height;
        padding: 0 0 @footer-expand-height;
    }
}

.summary {
    padding: 20px;
    background: @white;

    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em;
    }

    .summary-content {
        display: inline-block;
        vertical-align: middle;
    }
}

.elipse {
    text-align: center;
    height: 150px;
    width: 150px;

    .img {
        border-radius: 1000px;
        margin-bottom: 10px;
        height: 100%;
        width: 100%;
        background-repeat:no-repeat;
        background-position: center center;
    }

    .date{
        display: inline-block;
        vertical-align: middle;
        h3{
            text-align: right;
        }
        h2{
            text-align: center;
        }
        h4{
            text-align: left;
        }
    }
}

@media (max-width: @screen-desktop) {
    .summary {
        text-align: center !important;

        .text-right {
            text-align: center !important;
        }
    }

    .elipse {
        margin-bottom: 20px;
        margin: auto auto 20px;
    }
}