.navbar {
    .navbar-header {
        float: left;
        padding: 15px;
        text-align: center;
        width: 100%;

        .navbar-brand {
            float: none;
            text-transform: uppercase;
        }
    }
}

#wrap {
    > .container-fluid{
        margin-top: -73px;
        padding-top: 53px;
    }
}
