.navbar {
    .navbar-header {
        float: left;
        padding: 0;
        text-align: center;
        width: 100%;

        .navbar-brand {
            float: none;
            text-transform: uppercase;
            position: relative;
            top: 9px;
            font-size: 22px;
            line-height: 26px;
        }
    }
}

#navbar-collapse {
    display: none !important;
}

#sidebar {
    position: fixed;
    top: 0;
    left: -@sidebarWidth;
    height: 100%;
    width: @sidebarWidth;
    z-index: 1030;
    background: @white;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;

    &.out {
        box-shadow: 1px 1px 25px #666;
        left: 0;
    }

    .btn {
        position: relative;
        margin-left: 165px;
        border-radius: 0;
        display: block !important;
        height: 47px;
        background: @red;
        margin-top: -1px;
        border: none;
        color: @white;
        box-shadow: -3px -3px 6px 0 #666;
        z-index: 999;
    }

    .nav {
        margin-top: -47px;

        li {
            height: 47px;

            a {
                height: 47px;
                padding: 14px 15px;
            }
        }
    }
}

#wrap {
    padding-top: 120px;
    margin-left: 0;
    margin-right: 0;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;

    > .container-fluid {
        margin-top: -73px;
    }

    &.out {
        margin-left: @sidebarWidth / 2;
        margin-right: -@sidebarWidth / 2;
    }
}
