@using (this.Ajax.BeginForm("SendMessage", "Home",
            new AjaxOptions
            {
                HttpMethod = "POST",
                OnBegin = "OnSend",
                OnComplete = "OnComplete",
                OnFailure = "OnFailure",
                OnSuccess = "OnSent"
            },
            new { @class = "form-horizontal", @role = "form" }))
{
    @Html.AntiForgeryToken()
    <fieldset>
        <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
                <input data-val="true" data-val-required="Please supply an email address for me to reply too." type="email" class="form-control" id="inputEmail" placeholder="Email" name="email" />
                <span class="field-validation-valid help-block" data-valmsg-for="email" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="inputSubject" class="col-lg-2 control-label">Subject</label>
            <div class="col-lg-10">
                <input data-val="true" data-val-required="Please supply a subject for your message." type="text" class="form-control" id="inputSubject" placeholder="Subject" name="subject" />
                <span class="field-validation-valid help-block" data-valmsg-for="subject" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="inputWebsite" class="col-lg-2 control-label">Website</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputWebsite" placeholder="Website">
            </div>
        </div>
        <div class="form-group">
            <label for="message" class="col-lg-2 control-label">Message</label>
            <div class="col-lg-10">
                <textarea class="form-control" data-val="true" data-val-required="Please supply a message." name="message" id="message" rows="10"></textarea>
                <span class="field-validation-valid help-block" data-valmsg-for="message" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-primary" data-sending-text="Sending...">Send</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10 alert alert-success hidden">
                Your message has been sent.
            </div>
            <div class="col-lg-offset-2 col-lg-10 alert alert-danger hidden">
                Your message could not be sent.  Please try again later.
            </div>
        </div>
    </fieldset>
}