@model Personal.Website.ViewModels.ContactViewModel
@{
    this.Title = "James Dibble - Contact";
    this.Description = "Contact information for James Dibble.";
}
@this.Html.Partial("PageTitle", "Contact Me")
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3">
            @this.Html.Partial("ContactForm")
        </div>
    </div>
</div>
@section Script
{
    <script type="text/javascript" src="//asset.jdibble.co.uk/script/form.min.js"></script>
    <script>
        var OnSend = function () {
            $('button[type="submit"]').button('sending');
            $('.alert-danger').hide();
            $('.alert-success').hide();
            $('fieldset').attr('disabled', 'disabled');
        };

        var OnComplete = function() {
            $('button[type="submit"]').button('reset');
            $('fieldset').removeAttr('disabled');
        };

        var OnFailure = function () {
            $('.alert-danger').removeClass('hidden');
            $('.alert-danger').fadeIn();
        };

        var OnSent = function () {
            $('.alert-success').removeClass('hidden');
            $('.alert-success').fadeIn();
            $('input[type="text"], input[type="email"], textarea').val('');
        };
    </script>
}