@{
    ViewBag.Title = "James Dibble - .Net Web Developer";
    ViewBag.Description = "James Dibble is a .Net developer specialised in creating responsive websites using ASP.Net MVC.";
}

<div class="jumbotron" id="hello">
    <div class="container-fluid">
        <div class="col-lg-12">
            <h1>
                Hello, I'm James Dibble
            </h1>
            <div class="elipse">

            </div>
        </div>
    </div>
    <div class="scroll-arrow" data-scroll-to="#websites">
        <i class="fa fa-angle-down"></i>
        <i class="fa fa-angle-down"></i>
    </div>
</div>
<div class="jumbotron primary" id="websites">
    <div class="container-fluid">
        <div class="col-lg-3">
            <div class="elipse">
                <p>&lt;html/&gt;</p>
            </div>
        </div>
        <div class="col-lg-9">
            <h2>I does websites</h2>
            <p>I have lots of experience in creating websites for all sorts of business.  From portfolios to eCommerce websites.</p>
            <a href="@this.Url.Action("portfolioarchive", "posts")" class="btn btn-primary">View&nbsp;&nbsp;<span class="glyphicon glyphicon-expand"></span></a>
        </div>
    </div>
    <div class="scroll-arrow" data-scroll-to="#apps">
        <i class="fa fa-angle-down"></i>
        <i class="fa fa-angle-down"></i>
    </div>
</div>
<div class="jumbotron" id="apps">
    <div class="container-fluid">
        <div class="col-lg-3">
            <div class="elipse">
                <p><i class="fa fa-windows"></i>&nbsp;<i class="fa fa-android"></i>&nbsp;<i class="fa fa-apple"></i></p>
            </div>
        </div>
        <div class="col-lg-9">
            <h2>I does applications</h2>
            <p>
                I always make websites compatible with mobile phones, but I can also create native apps too.  I have also made
                applications for desktop.
            </p>
            <a href="@this.Url.Action("portfolioarchive", "posts")" class="btn btn-primary">View&nbsp;&nbsp;<span class="glyphicon glyphicon-expand"></span></a>
        </div>
    </div>
    <div class="scroll-arrow" data-scroll-to="#blogging">
        <i class="fa fa-angle-down"></i>
        <i class="fa fa-angle-down"></i>
    </div>
</div>
<div class="jumbotron primary" id="blogging">
    <div class="container-fluid">
        <div class="col-lg-3">
            <div class="elipse">
                <p><i class="fa fa-comments-o fa-4"></i></p>
            </div>
        </div>
        <div class="col-lg-9">
            <h2>I does blogging</h2>
            <p>I like to share my solutions to any tough problems I come accross, and I share alot of my code with the world.</p>
            <a href="@this.Url.Action("blogarchive", "posts")" class="btn btn-primary">Blog&nbsp;&nbsp;<span class="glyphicon glyphicon-expand"></span></a>
        </div>
    </div>
    <div class="scroll-arrow" data-scroll-to="#social">
        <i class="fa fa-angle-down"></i>
        <i class="fa fa-angle-down"></i>
    </div>
</div>
<div class="jumbotron" id="social">
    <div class="container-fluid">
        <div class="col-lg-3">
            <div class="elipse">
                <p><p><i class="fa fa-users fa-4"></i></p></p>
            </div>
        </div>
        <div class="col-lg-9">
            <h2>I does social</h2>
        </div>
    </div>
</div>

@section Script
{
    <script src="http://asset.jdibble.co.uk/script/jquery-scrollto.js"></script>
    <script src="http://asset.jdibble.co.uk/script/jquery.scrollorama.js"></script>
    <script>
        $(function () {
            $('[data-scroll-to]').click(function () {
                $($(this).data('scroll-to')).ScrollTo({
                    duration: 800,
                });
            });

            var scrollorama = $.scrollorama({
                blocks: '.jumbotron',
                enablePin: false
            });

            scrollorama
                .animate('#hello h1', { duration: $('#hello').height(), property: 'top', end: '+500px' })
                .animate('#hello .elipse', { duration: $('#hello').height() - 40, property: 'top', end: '-300px' })
                .animate('#websites .col-lg-9', { duration: $('#websites').height() - 40, property: 'right', start: '-1500px' })
                .animate('#websites .elipse', { duration: $('#hello').height() - 40, property: 'left', start: '-1500px' })
                .animate('#apps .col-lg-9', { duration: $('#apps').height() - 40, property: 'right', start: '-1500px' })
                .animate('#apps .elipse', { duration: $('#apps').height() - 40, property: 'left', start: '-1500px' })
                .animate('#blogging .col-lg-9', { duration: $('#blogging').height() - 40, property: 'right', start: '-1500px' })
                .animate('#blogging .elipse', { duration: $('#blogging').height() - 40, property: 'left', start: '-1500px' })
                .animate('#social .col-lg-9', { duration: $('#social').height() - 40, property: 'right', start: '-1500px' })
                .animate('#social .elipse', { duration: $('#social').height() - 40, property: 'left', start: '-1500px' });
        });
    </script>
}
