@{
    ViewBag.Title = "James Dibble - .Net Web Developer";
    ViewBag.Description = "James Dibble is a .Net developer specialised in creating responsive websites using ASP.Net MVC.";
}

<div class="jumbotron">
    <div class="container-fluid">
        <h1>Hello, I'm James Dibble</h1>
    </div>
</div>
<div class="jumbotron">
    <div class="container-fluid">
        <h2>I does websites</h2>
        <p>I have lots of experience in creating websites for all sorts of business.  From portfolios to eCommerce websites.</p>
    </div>
</div>
<div class="jumbotron">
    <div class="container-fluid">
        <h2>I does applications</h2>
        <p>
            I always make websites compatible with mobile phones, but I can also create native apps too.  I have also made 
            applications for desktop.
        </p>
    </div>
</div>
<div class="jumbotron">
    <div class="container-fluid">
        <h2>I does blogging</h2>
        <p>I like to share my solutions to any tough problems I come accross, and I share alot of my code with the world.</p>
    </div>
</div>
<div class="jumbotron">
    <div class="container-fluid">
        <h2>I does social</h2>
    </div>
</div>