@model Post

<a href="@this.Url.Action(this.Model is Blog ? "blog" : "portfolio", "posts", new { year = this.Model.Date.Year, month = this.Model.Date.Month, day = this.Model.Date.Day, title = this.Model.Title.ToLowerInvariant().Replace(' ', '-') })" class="btn btn-primary">View&nbsp;&nbsp;<span class="glyphicon glyphicon-expand"></span></a>

